<h1>Cleaning data. Check records manually now to ensure integrity.</h1>
<h2>Records cleaned from: <%= @prev_num_docs %> to: <%= @num_docs %></h2>
<hr>
<h2>Delete Candidates</h2>
<% @delete_candidates.each do |c| %>
	<p>id: <%= c.id %></p>
	<p>foreign_document_id: <%= c.foreign_document_id %></p>
	<p>foreign_document_url: <%= c.foreign_document_url %></p>
<% end %>